/* General Styles */
body {
  margin: 0;
}
#app,
#modals {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h1 {
  border-bottom: 1px solid #ddd;
  display: inline-block;
  padding-bottom: 10px;
}

/* Modal Styles */
.modal h1 {
  color: aqua;
  border: none;
  padding: 0;
}
.modal .actions a {
  color: #333;
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 4px;
  text-decoration: none;
  margin: 10px;
}
.modal.sale h1 {
  color: white;
}
.modal.sale .actions a {
  color: white;
}
.modal.congrats h1 {
  color: blue;
}
.modal.congrats .actions a {
  color: blue;
}
